.hljs,
code {
  display: inline;
  overflow-x: auto;
  padding: 0.3rem;
  color: #333;
  background: white;
  max-width: 100%;
  font-family: "SF Mono", "Monaco", "Andale Mono", "Lucida Console",
    "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  background-color: #eef9ff;
  box-shadow: none;
  border-radius: 3px;
  font-size: 12px;
}
.hljs-block {
  display: inline-block;
  line-height: 170%;
  padding: 1rem 1.5rem;
}
.hljs-tag {
  color: navy;
  font-weight: 400;
}
.hljs-attr {
  color: teal;
}
.hljs-string {
  color: #d14;
}
.website-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 0;
  list-style: none;
}
.website-blocks li {
  position: relative;
  border: 1px solid #ccdce6;
  flex: 0 0 calc(33% - 3rem);
  margin: 1.5rem;
  min-width: 0;
  transition: background 150ms ease;
  background-color: white;
}
@media (hover: hover) {
  .website-blocks li:hover a.go-to-settings img {
    opacity: 0.6;
  }
  .website-blocks li a.go-to-settings:hover img {
    opacity: 1;
  }
}
.website-blocks li a.go-to-settings {
  display: flex;
  transition: opacity 150ms ease;
  position: absolute;
  box-shadow: -3px 3px 8px 0px white;
  top: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
@media (hover: hover) {
  .website-blocks li a.go-to-settings img {
    opacity: 0.2;
  }
}
@media (max-width: 425px) {
  .website-blocks li.no-data a.go-to-settings {
    top: 10px;
  }
}
.website-blocks li a.go-to-settings svg {
  fill: #ff4f64;
  width: 15px;
  height: 15px;
}
.website-blocks li a.go-to-stats {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .website-blocks li a.go-to-stats h2 {
    text-decoration: underline;
  }
}
@media (hover: hover) {
  .website-blocks li:hover {
    border-color: #00c5e5;
  }
}
.website-blocks .empty-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 80px;
  flex: 1 0 150px;
}
.website-blocks .empty-chart p {
  margin: 2rem 1rem 0;
  text-align: center;
}
.website-blocks .empty-chart p + p {
  margin: 1rem 1rem 0;
}
@media (max-width: 768px) {
  .website-blocks li {
    margin: 1.5rem;
    flex: 0 1 calc(50% - 3rem);
  }
}
@media (max-width: 425px) {
  .website-blocks {
    margin-top: 0;
  }
  .website-blocks li {
    flex: 0 1 100%;
    margin-bottom: 0;
    margin: 0.5rem 1rem;
  }
  .website-blocks .empty-chart {
    display: none;
  }
}
.website-blocks h2,
.website-blocks h3 {
  font-size: 1.3rem;
  margin: 0;
}
.website-blocks h2 {
  margin-right: 0.5rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.website-blocks h3 {
  white-space: nowrap;
  color: #ff4f64;
}
.website-blocks footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem 0.7rem;
}
input[type="text"],
input[type="email"],
.StripeElement,
select {
  background-color: white;
  height: 40px;
  padding: 0 14px;
  border: 1px solid #ccdce6;
  transition: border-color 250ms ease;
  margin-bottom: 1rem;
  width: 300px;
  max-width: 100%;
  color: #32325d;
}
.StripeElement {
  padding: 10px 12px;
}
input.StripeElement {
  margin-bottom: 1rem;
  width: 300px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input.StripeElement:focus,
select:focus {
  border-color: #00c5e5;
  outline: none;
}
.StripeElement--focus {
  border-color: #00c5e5;
}
.StripeElement--invalid {
  border-color: #fa755a;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #32325d;
  -webkit-box-shadow: 0 0 0px 1000px #fefde5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
@media (max-width: 425px) {
  form input[type="text"],
  form input[type="email"],
  form select {
    width: 100%;
  }
}
.register-template input {
  width: 100% !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px;
  position: relative;
  background-position: right 0px top 50%;
  background-repeat: no-repeat;
  width: 220px;
  vertical-align: bottom;
  border-radius: 0;
  background-image: url("data:image/svg+xml;utf8;base64,PHN2ZyBmaWxsPSIjYzFjMWMxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjEwMC41IDEwMC41IDEwMCAxMDAiPjxwYXRoIGQ9Ik0xNjAuOTU4LDE0Mi40NzNjMC4wMDEtMi41OTktMjAuOTE4LTIuOTAxLTIwLjkxOSwwYzAsMi45MDEsOC4yNDMsMTguMTE2LDEwLjQ2MSwxOC4xMTZTMTYwLjk1OCwxNDUuMDcxLDE2MC45NTgsMTQyLjQ3M3oiPjwvcGF0aD48L3N2Zz4=");
}
select:focus {
  background-image: url("data:image/svg+xml;utf8;base64,PHN2ZyBmaWxsPSIjZmY0ZjY0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjEwMC41IDEwMC41IDEwMCAxMDAiPjxwYXRoIGQ9Ik0xNjAuOTU4LDE0Mi40NzNjMC4wMDEtMi41OTktMjAuOTE4LTIuOTAxLTIwLjkxOSwwYzAsMi45MDEsOC4yNDMsMTguMTE2LDEwLjQ2MSwxOC4xMTZTMTYwLjk1OCwxNDUuMDcxLDE2MC45NTgsMTQyLjQ3M3oiPjwvcGF0aD48L3N2Zz4=");
}
select::-ms-expand {
  display: none;
}
button,
.button {
  background: #ff4f64;
  border: none;
  color: white;
  transition: background 150ms ease;
  margin: 0;
  padding: 0 1rem;
  height: 40px;
  width: auto;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: auto;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  -webkit-appearance: none;
}
button.button--large,
.button.button--large {
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  padding: 0 2rem;
}
a.button {
  vertical-align: top;
}
@media (hover: hover) {
  button:hover,
  .button:hover {
    color: white;
    background: #e6475a;
  }
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-3px {
  margin-top: 3px !important;
}
.mt-05 {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-05 {
  margin-bottom: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-a {
  margin-left: auto !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.ml-a {
  margin-left: auto !important;
}
.ta-l {
  text-align: left !important;
}
.ta-c {
  text-align: center;
}
.w-100 {
  width: 100% !important;
}
.w-300 {
  width: 300px;
}
.hidden {
  display: none;
}
.text-small,
small {
  font-size: 70%;
}
.text-help {
  color: #777;
}
.text-help strong {
  color: #777;
}
.text-code {
  line-height: 250%;
}
.text-help code {
  color: #777;
}
.text-muted {
  color: #777;
}
.text-color {
  color: #415659;
}
.t-d-n {
  text-decoration: none;
}
[title] {
  cursor: help;
}
[disabled] {
  cursor: not-allowed;
}
[role="alert"],
[role="alert"] strong,
[role="alert"] a {
  color: #d14;
}
blockquote[role="alert"] {
  border-left-color: #e51800;
  background-color: #fff0ee;
}
blockquote[role="alert"].hn {
  border-left-color: #ff6600;
  background-color: #ffeadb;
}
blockquote[role="alert"].hn,
blockquote[role="alert"].hn a,
blockquote[role="alert"].hn strong {
  color: #ff6600;
}
.visible-on-show {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
@media (max-width: 768px) {
  .visible-on-show {
    opacity: 1;
    transition: none;
  }
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
.space-between > * {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .space-between {
    flex-wrap: wrap;
  }
  .space-between > *:last-child {
    margin-top: 1rem;
  }
}
.emoji {
  font-family: apple color emoji, segoe ui emoji, notocoloremoji,
    segoe ui symbol, android emoji, emojisymbols, emojione mozilla;
}
.emoji.emoji--medium {
  font-size: 3rem;
  margin: 0;
}
.emoji.emoji--big {
  font-size: 5rem;
  margin: 0;
}
ul.green-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.green-bullets li {
  padding-left: 1rem;
  text-indent: -1rem;
  margin-bottom: 0.5rem;
}
ul.green-bullets li strong {
  font-weight: 600;
}
ul.green-bullets li::before {
  font-size: 1.5rem;
  line-height: 0rem;
  content: "✓ ";
  color: #76e27f;
  vertical-align: sub;
}
.anchor-link {
  text-decoration: none;
}
h1[id] .anchor-link,
h2[id] .anchor-link,
h3[id] .anchor-link,
h4[id] .anchor-link,
h5[id] .anchor-link,
h6[id] .anchor-link {
  display: none;
}
h1[id]:hover .anchor-link,
h2[id]:hover .anchor-link,
h3[id]:hover .anchor-link,
h4[id]:hover .anchor-link,
h5[id]:hover .anchor-link,
h6[id]:hover .anchor-link {
  display: inline;
}
.stripe-badge {
  display: inline-block;
  background-color: #e1e3ee;
  border-radius: 3px;
}
.page .stripe-badge img {
  height: 18px;
  margin: 0px 8px 4px;
  display: inline-block;
  vertical-align: middle;
}
.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
.split > div {
  flex: 0 1 calc(50% - 2rem);
}
.split img {
  margin-top: 0 !important;
}
.title-badge {
  margin-left: 10px;
  padding: 3px 7px;
  font-size: 14px;
  display: inline-block;
  background-color: #b9b9b9;
  border-radius: 3px;
  text-decoration: none;
  vertical-align: text-bottom;
  color: white;
}
.title-badge[data-badge*="guest"] {
  background-color: #f296ff;
}
.title-badge[data-badge*="monthly"],
.title-badge[data-badge*="company"] {
  background-color: #ff96a3;
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  word-break: break-word;
}
* {
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  max-width: calc(100% - 3rem);
  width: 1000px;
  min-height: calc(100vh - 201px);
}
main > h1:first-child,
main > *:first-child > h1:first-child,
main > h2:first-child,
main > *:first-child > *:first-child {
  margin-top: 0;
}
@media (max-width: 768px) {
  main {
    padding-top: 1.5rem;
  }
  header + main {
    padding-top: 1px;
  }
}
.page {
  max-width: 700px;
}
.page h1:first-child {
  margin-top: 0;
}
.page.page-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.centered {
  text-align: center;
  border: 1px solid #ccdce6;
  width: 500px;
  padding: 3rem 4rem 4rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .centered {
    border: none;
    max-width: 100%;
    padding: 0;
    margin-top: 0;
  }
}
.centered > h2 {
  margin-bottom: 2rem;
}
.centered > * {
  width: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: #8e8e8e 5px 5px 12px;
  width: 500px;
  max-width: calc(100% - 2rem);
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
}
@media screen and (max-width: 1024px) {
  .modal-content {
    text-align: center;
    margin: 1rem auto;
  }
}
.modal-avatar {
  margin: 0 1.5rem 1rem 0;
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  float: left;
}
@media screen and (max-width: 1024px) {
  .modal-avatar {
    float: unset;
    display: block;
    margin: 0 auto 1rem;
    width: 80px;
    height: 80px;
  }
}
.close {
  color: #d2d2d2;
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 14px;
}
.close:hover,
.close:focus {
  color: #979797;
  text-decoration: none;
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    transform: translateY(600px) rotateX(30deg) scale(0);
    transform-origin: 50% 100%;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% -1400px;
  }
}
nav {
  background-color: #eef9ff;
}
nav a {
  color: #415659;
  font-weight: 500;
  font-size: 18px;
}
nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0 2rem;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
@media (max-width: 768px) {
  nav ul {
    height: auto;
    margin: 0;
  }
}
nav ul li {
  margin: 0;
}
nav ul li a {
  padding: 1rem;
  display: block;
  text-decoration: none;
}
@media (hover: hover) {
  nav ul li a:hover {
    text-decoration: underline;
  }
}
nav ul li.auth {
  display: flex;
}
nav ul li.auth a:first-of-type {
  padding-right: 0.2rem;
}
nav ul li.auth a:last-of-type {
  padding-left: 0.2rem;
}
nav .brand {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
@media (max-width: 768px) {
  nav .brand {
    font-size: 16px;
  }
}
nav .brand svg {
  height: 30px;
  width: 30px;
  fill: #ff4f64;
  margin-right: 0.5rem;
}
.menu-toggle {
  margin-left: auto;
  display: none;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: inherit;
  }
}
@media (max-width: 768px) {
  .menu-item {
    overflow: hidden;
    transition: max-height 500ms ease 0s, opacity 500ms ease 0s;
    max-height: 0px;
    opacity: 0;
    flex: 1 0 100%;
    text-align: left;
  }
  .menu-item a {
    font-size: 14px;
    margin-left: 5px;
  }
}
.hamburger {
  transform: scale(0.6) translateY(4px);
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #293033;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
@media (max-width: 768px) {
  nav.is-active .menu-item {
    max-height: 80px;
    opacity: 1;
  }
}
nav.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
nav.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
footer.general {
  background-color: #eef9ff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 2rem;
  align-items: center;
  text-align: left;
  flex-direction: row;
}
@media (max-width: 920px) {
  footer.general {
    flex-direction: column-reverse;
    padding: 2rem 2rem 1rem;
    align-items: start;
  }
}
footer.general .brand {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
@media (max-width: 768px) {
  footer.general .brand {
    font-size: 16px;
  }
}
footer.general .brand svg {
  height: 30px;
  width: 30px;
  fill: #ff4f64;
  margin-right: 0.5rem;
}
footer.general h1 {
  margin-top: 0;
  font-size: unset;
  margin-bottom: 1rem;
}
@media (max-width: 920px) {
  footer.general h1 {
    margin-top: 2rem;
  }
}
@media (hover: hover) {
  footer.general:hover h1 {
    opacity: 1;
  }
  footer.general h1 {
    opacity: 0.6;
    transition: opacity 250ms linear;
  }
}
footer.general a {
  color: #415659;
  text-decoration: none;
}
footer.general > .intro {
  flex: 2;
  margin-right: 2rem;
}
@media (max-width: 768px) {
  footer.general > .intro {
    margin-right: 0;
  }
}
footer.general > .link-container {
  flex: 5;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer.general > .link-container > div {
  padding: 0.5rem;
}
@media (max-width: 425px) {
  footer.general > .link-container > div {
    padding: 0;
  }
}
footer.general > .link-container .flex-tablet-devider {
  display: none;
}
@media (max-width: 920px) {
  footer.general > .link-container {
    align-items: start;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  footer.general > .link-container div + div {
    padding-top: 1.5rem;
  }
}
@media (min-width: 425px) and (max-width: 1080px) {
  footer.general .intro {
    max-width: 360px;
  }
  footer.general > .link-container {
    flex: 2;
    justify-content: unset;
    margin-left: 3rem;
  }
  footer.general > .link-container > div:nth-child(2),
  footer.general > .link-container > div:nth-child(5) {
    margin-left: 2rem;
  }
  footer.general > .link-container .flex-tablet-devider {
    flex-basis: 100%;
    display: block;
  }
}
@media (min-width: 425px) and (max-width: 920px) {
  footer.general > .link-container {
    margin-left: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer.general div + div {
    padding-top: 0;
  }
}
footer.general ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
footer.general li {
  font-size: 14px;
}
footer.general li + li {
  margin-top: 0.5rem;
}
footer.general h2 {
  margin-top: 0;
  font-size: 18px;
  color: #7d9598;
}
footer.general h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  color: #8aa3a6;
  margin-bottom: 0.5rem;
}
footer.general p {
  font-size: 13px;
  color: #7d9598;
  transition: color 250ms linear;
}
footer.general p:hover {
  color: black;
}
.signup {
  width: 700px;
  max-width: calc(100% + 3rem);
  margin: 100px auto;
  background-color: #d8f1fe;
  text-align: left;
  border: 1px solid #ccdce6;
}
@media (max-width: 768px) {
  .signup {
    margin: 80px -1.5rem 50px;
  }
}
.signup h3 {
  font-weight: 500;
  margin-top: 0;
  font-size: 20px;
}
.signup__container {
  display: flex;
  padding: 0 2rem 3rem 2rem;
}
@media (max-width: 768px) {
  .signup__container {
    flex-direction: column;
    padding: 1rem;
    align-items: unset;
  }
}
.signup__container > div {
  margin: 1rem 1rem 0 1rem;
}
.signup__pay {
  flex: 1 1 300px;
  margin-top: calc(1rem + 4px) !important;
}
.signup__pay button {
  width: 100%;
}
.signup__reasons {
  flex: 1 0 auto;
}
.signup__title {
  margin: 2rem 0 0 0;
  text-align: center;
}
.signup .StripeElement {
  width: 100%;
  height: 50px;
}
.signup div#card-element {
  padding-top: 14px;
}
.signup__free {
  border-top: 1px solid #ccdce6;
  background-color: #eef9ff;
  padding: 1rem;
}
.signup__free p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}
.signup__free p a {
  color: #415659;
  text-decoration: underline;
}
p.stripe {
  color: #9aa7b4;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1px;
}
p.stripe svg {
  width: 18px;
  height: 18px;
  vertical-align: sub;
  fill: #76e27f;
}
.box--loading {
  position: relative;
}
.box--loading * {
  opacity: 0.5;
}
.box--loading::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid #ff4f64;
  border-top-color: transparent;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
.subscribe {
  background-color: #eef9ff;
  border-radius: 5px;
  padding: 1.5rem;
}
.subscribe .checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
}
.subscribe .checkboxes label {
  margin-top: 1rem;
}
.ta-c .subscribe .checkboxes {
  justify-content: center;
}
.subscribe > *:first-child {
  margin-top: 0;
}
.subscribe > *:first-child > * {
  margin-top: 0;
}
.subscribe > *:last-child {
  margin-bottom: 0;
}
.subscribe > *:last-child > * {
  margin-bottom: 0;
}
table.top-list tr td:first-child {
  color: #00c5e5;
  white-space: nowrap;
  padding-right: 0.5rem;
}
table.top-list tr td:last-child a {
  color: #415659;
  text-decoration: none;
}
@media (hover: hover) {
  table.top-list tr td:last-child a:hover {
    text-decoration: underline;
  }
}
table.top-list tr td[colspan]:first-child {
  text-align: left;
}
.tabels {
  display: flex;
}
@media (max-width: 768px) {
  .tabels {
    flex-wrap: wrap;
  }
}
.tabels > div {
  flex: 1 1 auto;
}
.tabels > div:last-of-type {
  flex: 0 1 auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  .tabels > div:first-of-type,
  .tabels > div:last-of-type {
    flex: 1 0 100%;
  }
}
table.dimensions {
  width: 100%;
}
table.dimensions .small {
  font-size: 12px;
}
table.dimensions tr td:first-child {
  width: 1px;
}
table.dimensions .bar {
  position: relative;
  width: 100%;
  min-width: 150px;
  display: flex;
  align-items: center;
}
table.dimensions .bar > div {
  position: absolute;
  background-color: rgba(191, 237, 245, 0.5);
  top: 2px;
  left: 0;
  bottom: 2px;
  overflow: hidden;
  border-radius: 3px;
  z-index: -1;
}
table.dimensions .bar span.percentage {
  display: inline-block;
  margin-left: 0.5rem;
  color: #415659;
}
table.dimensions .bar span.warning {
  display: inline-block;
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: #00c5e5;
  color: white;
  font-size: 10px;
  margin-left: auto;
  margin-right: 2px;
  border-radius: 3px;
  padding: 1px 4px;
}
h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", Arial, sans-serif;
  color: #415659;
  margin: 2rem 0 1rem 0;
  line-height: 1.5;
  font-weight: 500;
  font-display: swap;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
p,
button,
.button,
label,
input[type="email"],
input[type="text"],
li,
td,
th,
select,
blockquote,
summary {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-display: swap;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
label,
li,
td,
th,
select,
blockquote {
  line-height: 180%;
}
summary {
  outline: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: #9aa7b4;
}
a {
  cursor: pointer;
  color: #00c5e5;
}
@media (hover: hover) {
  a:hover {
    color: #00b1ce;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  main > h1:first-of-type {
    margin-top: 0;
  }
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 300;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Light.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Light.woff")
      format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Regular.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Regular.woff")
      format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Medium.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Medium.woff")
      format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-SemiBold.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-SemiBold.woff")
      format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Bold.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Bold.woff")
      format("woff");
}
pre.highlight {
  background: #f6f6f6;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  line-height: 25px;
  overflow-y: scroll;
}
code {
  background: #f6f6f6;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  color: #068fa5;
  font-size: 14px;
}
pre.highlight code {
  padding: 0;
}
.highlight .hll {
  background-color: #ffc;
}
.highlight .c {
  color: #408080;
  font-style: italic;
}
.highlight .err {
  border: 1px solid red;
}
.highlight .k {
  color: #008000;
  font-weight: normal;
}
.highlight .o {
  color: #666;
}
.highlight .cm {
  color: #408080;
  font-style: italic;
}
.highlight .cp {
  color: #bc7a00;
}
.highlight .c1 {
  color: #408080;
  font-style: italic;
}
.highlight .cs {
  color: #408080;
  font-style: italic;
}
.highlight .gd {
  color: #a00000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: red;
}
.highlight .gh {
  color: #000080;
  font-weight: normal;
}
.highlight .gi {
  color: #00a000;
}
.highlight .go {
  color: gray;
}
.highlight .gp {
  color: #000080;
  font-weight: normal;
}
.highlight .gs {
  font-weight: normal;
}
.highlight .gu {
  color: #800080;
  font-weight: normal;
}
.highlight .gt {
  color: #0040d0;
}
.highlight .kc {
  color: #008000;
  font-weight: normal;
}
.highlight .kd {
  color: #008000;
  font-weight: normal;
}
.highlight .kn {
  color: #008000;
  font-weight: normal;
}
.highlight .kp {
  color: green;
}
.highlight .kr {
  color: #008000;
  font-weight: normal;
}
.highlight .kt {
  color: #b00040;
}
.highlight .m {
  color: #666;
}
.highlight .s {
  color: #dd4255;
}
.highlight .na {
  color: #57ab57;
}
.highlight .nb {
  color: green;
}
.highlight .nc {
  color: #0000ff;
  font-weight: normal;
}
.highlight .no {
  color: #800;
}
.highlight .nd {
  color: #a2f;
}
.highlight .ni {
  color: #999999;
  font-weight: normal;
}
.highlight .ne {
  color: #d2413a;
  font-weight: normal;
}
.highlight .nf {
  color: blue;
}
.highlight .nl {
  color: #a0a000;
}
.highlight .nn {
  color: #0000ff;
  font-weight: normal;
}
.highlight .nt {
  color: #09b0cb;
  font-weight: normal;
}
.highlight .nv {
  color: #19177c;
}
.highlight .ow {
  color: #aa22ff;
  font-weight: normal;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #666;
}
.highlight .mh {
  color: #666;
}
.highlight .mi {
  color: #666;
}
.highlight .mo {
  color: #666;
}
.highlight .sb {
  color: #dd4255;
}
.highlight .sc {
  color: #dd4255;
}
.highlight .sd {
  color: #dd4255;
  font-style: italic;
}
.highlight .s2 {
  color: #dd4255;
}
.highlight .se {
  color: #bb6622;
  font-weight: normal;
}
.highlight .sh {
  color: #dd4255;
}
.highlight .si {
  color: #bb6688;
  font-weight: normal;
}
.highlight .sx {
  color: green;
}
.highlight .sr {
  color: #b68;
}
.highlight .s1 {
  color: #dd4255;
}
.highlight .ss {
  color: #19177c;
}
.highlight .bp {
  color: green;
}
.highlight .vc {
  color: #19177c;
}
.highlight .vg {
  color: #19177c;
}
.highlight .vi {
  color: #19177c;
}
.highlight .il {
  color: #666;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  word-wrap: anywhere;
  line-height: 1;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  border: 1px solid #ff4f64;
}
.checkbox:hover input ~ .checkmark {
  border-color: #ff4f64;
}
.checkbox input:checked ~ .checkmark {
  background-color: #ff4f64;
  border-color: #ff4f64;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #415659;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid "#9AA7B4";
  border-radius: 100%;
  background: white;
}
[type="radio"]:checked + label:hover:before,
[type="radio"]:not(:checked) + label:hover:before {
  border: 1px solid #ff4f64;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #ff4f64;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:before {
  border: 1px solid #ff4f64;
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.split {
  display: flex;
  justify-content: space-between;
}
.split > div {
  flex: 0 1 48%;
}
@media (max-width: 768px) {
  .split {
    flex-wrap: wrap;
  }
  .split > div {
    flex: 0 0 100%;
  }
}
.post-video {
  border-radius: 10px;
  max-width: 100%;
  border: 1px solid #00c5e5;
}
.text-light {
  font-weight: 100;
}
blockquote {
  border-left: 5px solid #00c5e5;
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  background-color: #eef9ff;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
blockquote > p:first-of-type {
  margin-top: 0;
}
blockquote > p:last-of-type {
  margin-bottom: 0;
}
.text-light {
  font-weight: 100;
}
ul.related-posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.related-posts li {
  margin: 0;
}
.tweet img {
  max-width: 100%;
  width: 400px;
}
.mini-avatar {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 50%;
  margin: 0 5px;
}
.page img {
  max-width: 100%;
  margin: 2rem auto;
  display: block;
}
.page img.limit-height {
  max-height: 300px;
}
.page img.mini-avatar {
  display: unset;
  margin: unset;
}
.page img.border {
  border: 1px solid #ccdce6;
  border-radius: 10px;
}
.page .border-radius {
  border-radius: 10px;
}
.page .caption {
  margin-top: -1.5rem;
  font-size: 13px;
  color: #777;
}
.page .highlighter-rouge + .caption {
  margin-top: -0.5rem;
}
ol.thank-you-steps {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
ol.thank-you-steps li {
  margin-top: 1rem;
}
ol.thank-you-steps li::first-line {
  font-weight: bold;
  color: #415659;
}
.table-wrapper {
  overflow-x: auto;
}
.table-wrapper th,
.table-wrapper td {
  white-space: nowrap;
}
main table {
  border-collapse: collapse;
}
main tbody tr td:first-child {
  border-left: 2px solid #eef9ff;
}
main tbody tr td:last-child {
  border-right: 2px solid #eef9ff;
}
main tbody tr:last-child td {
  border-bottom: 2px solid #eef9ff;
}
main tr:nth-child(2n + 1) {
  background: #eef9ff;
}
main td,
main th {
  padding: 0.3rem 0.6rem;
  vertical-align: top;
}
main th {
  text-align: left;
  background-color: #65aed7;
  border: 2px solid #65aed7;
  color: white;
  font-weight: normal;
}
.video-container {
  width: 100%;
  height: 0px;
  position: relative;
  background-color: #eef9ff;
}
.video-container > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Make sure images in the new apps section are scaled in the right aspect ratio */
.mj-column-per-50 img {
  object-fit: cover;
  height: 153px !important;
  object-position: top;
}
